* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
}

/* FONDO */
#fondo {
    position: fixed;
    inset: 0;
    background: url("fondo.png") center center / cover no-repeat;
    z-index: 0;
}

/* OSCURECER */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

/* CONTENIDO */
.contenido {
    position: relative;
    z-index: 1;
    padding: 30px;
}

/* HEADER */
header {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.logo {
    width: 110px;
}

/* COLUMNAS */
.columnas {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARDS */
.card {
    background: white;
    border-radius: 35px;
    padding: 25px;
    width: 32%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

/* REDES */
.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.redes img {
    width: 52px;
}

/* FOOTER */
footer {
    text-align: center;
    color: white;
    margin-top: 25px;
}
